{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@typescript-eslint/tslint"],
  "rules": {
    "@typescript-eslint/rule-name": "error"
  }
}
